{
  "db_user": "<enter database username to connect with>",
  "db_pw": "<enter database password to connect with>",
  "db_addr": "<mongo database address URL>",
  "control_login": "<username for access to the Config section of the app>",
  "control_password": "<password for access to the Config section of the app>",
  "socket_addr": "<server address for live data>",
  "socket_port": <server port number for live data>
}