extends layout

block content
  div(ng-controller='historyCtrl', ng-init='brews= #{JSON.stringify(brews)}')
    .row.row-cols-1.mb-2
      .col
        h4=title
          span.float-end
            a(href='/control/brew/') New Brew
        hr
    .row(ng-repeat='brew in brews').row-cols-1.mb-4
      .col
        .card
          h5.card-header 
            {{brew.name}}
            span.float-end
              a(href='/control/brew/{{brew._id}}') Edit Brew
          .card-body
            p
              b Recipe:&nbsp
              a(href='{{brew.recipeUrl}}') {{brew.name}}
            p
              b Stage:&nbsp
              | Fermentation (started {{brew.startDT}})
            canvas(id='{{brew._id}}')
    .row.row-cols-1
      .col
        .card
          .card-body
            .row.row-cols-3
              .col
                if page > 1
                  a(href='/history/' + (parseInt(page) - 1)) Prev Page
              .col.text-center
                | Page #{page} of #{numPages}
              .col.text-end
                if page < numPages
                  a(href='/history/' + (parseInt(page) + 1)) Next Page
