extends layout

block content
  div(ng-controller='homeCtrl')
    .row.row-cols-2.mb-4
      .col
        .card.h-100
          h6.card-header Current Brew
          .card-body(ng-if="!currentBrew")
            p
              h3 Nothing Brewing!
          .card-body(ng-if="currentBrew")
            p
              b Name:&nbsp
              a(href='{{ currentBrew.recipeUrl }}') {{ currentBrew.name }}
            p
              b Started:&nbsp
              | {{ currentBrew.startDT | date }}
      .col
        .card.h-100
          h6.card-header Live Temp
          .card-body
            p(ng-repeat="temp in liveTemp") 
              b {{ temp.name }} {{ temp.sensor.name }}:&nbsp
              | {{ temp.sensor.currentRecord.temp + temp.sensor.units}} ({{ ((temp.sensor.currentRecord.temp * 9) / 5) + 32 | number:1 }}°F)&nbsp
              b {{ temp.output ? temp.output.name + ':' : '' }}&nbsp
              | {{ temp.output ? (temp.output.state === 1 ? 'ON' : 'OFF') : ''}}&nbsp
    .row.row-cols-1.mb-4
      .col
        .card
          h6.card-header Brew Temperature (Last 24 Hours)
          .card-body
            canvas(id='brewGraph')
