extends layout

block content
  div(ng-controller='homeCtrl', class='container')
    .row
      .col-md-12
        h2=title
        hr
    .row
      .col-sm-6.col-md-6
        .panel.panel-default
          .panel-heading
            label Current Brew
          .panel-body
            p
              label Name:&nbsp
              a(href='{{ currentBrew.recipeUrl }}') {{ currentBrew.name }}
            p
              label Stage:
              &nbsp Fermentation (started {{ currentBrew.startDT | date }})
            p
              label Last Recorded Temp:
              &nbsp {{ brewData[0].y[brewData[0].y.length - 1] }} at {{ brewData[0].x[brewData[0].x.length - 1].toString() }}
      .col-sm-6.col-md-6
        .panel.panel-default
          .panel-heading
            label Live Temp
          .panel-body
            h3(ng-repeat="temp in liveTemp")
              {{ temp.name }}: {{ temp.sensor.currentRecord.temp + temp.sensor.units}} ({{ ((temp.sensor.currentRecord.temp * 9) / 5) + 32 | number:1 }}°F)
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            label Brew Temperature (Last 24 Hours)
          .panel-body
            canvas(id='brewGraph')
