doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title=app_name + ' - ' + title

    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css', integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/site.css')    
    script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js', integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM', crossorigin='anonymous')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-route.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js')
    script(type='text/javascript', src='/js/chart.min.js')
    script(type='text/javascript', src='/js/luxon.min.js')
    script(type='text/javascript', src='/js/chartjs-adapter-luxon.min.js')
    script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/hammerjs@2.0.8')
    script(type='text/javascript', src='/js/chartjs-plugin-zoom.min.js')
    script(type='text/javascript', src='/js/brewtest.js')
  body(ng-app='brewtest')
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-4
      .container
        a.navbar-brand(href='/') Bellthorpe Brewing
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        .collapse.navbar-collapse(id='navbarNavAltMarkup')
          ul.navbar-nav.me-auto
            li.nav-item
              a.nav-link(href='/') Current Brew
            li.nav-item  
              a.nav-link(href='/history') Brew History
            li.nav-item
              a.nav-link(href='#contact') Contact
          ul.navbar-nav.justify-content-end
            li.navbar-nav.nav-item.dropdown
              a.nav-link.dropdown-toggle(href='#', id='navbarDropdownMenuLink', role='button', data-bs-toggle='dropdown', aria-expanded='false') Control
              ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                li
                  a.dropdown-item(href='/control') Control 
                li 
                  a.dropdown-item(href='/control/logs') Logs
    .container
      block content
    .container
      .footer
        hr
        .d-flex.flex-row.justify-content-between
          p
            a(href='https://github.com/jfl88/brewberry') brewberry by JFL 
            &nbsp v#{app_ver}
          p
            &copy; bellthorpe industries 2017

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-63486382-2', 'auto');
    ga('send', 'pageview');
